@{
    ViewBag.Title = "Home Page";
}

<div id="content"></div>
<button class="btn" id="loadBtn">Load</button>
<button class="btn" id="displayBtn">Show</button>
@section scripts{
    <script src='@Url.Content("~/Scripts/app.js")'></script>
}